DJANGO_SECRET_KEY=change-this-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=radvansec.com,www.radvansec.com,181.214.140.21,127.0.0.1
DJANGO_ADMIN_PATH=panel-x7k/
DJANGO_CSRF_TRUSTED_ORIGINS=https://radvansec.com,https://www.radvansec.com
